*{
    font-family: 'VT323', monospace;
    color: white;
}
body{
    background-color: black;
}
#pokemon, #pokeball{
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
}
#pokeball{
    border-radius: 100%;
    cursor: pointer;
}

#pokemon{
    width: 25%;
}
#pokename{
    font-size: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
button{ color: black;}



